@import url('https://fonts.googleapis.com/css2?family=Titan+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Colors */

$midnight_black: #212121;
$deep_purple: #582770;
$plum_purple: #773d94;
$berry_pink: #943d8a;
$magenta_rose: #c22760;
$coral_pink: #e81764;
$rust_red: #b62a14;
$flame_orange: #ed6e36;
$snow_white: #f9f9f9;

/* Font Family */

$ubuntu: 'Ubuntu', sans-serif;
$titan_one: 'Titan One', sans-serif;

/* Font Weight */

$fw_small: 300;
$fw_normal: 400;
$fw_medium: 500;
$fw_large: 700;

/* Border Raidius */

$br_small: 2px;
$br_medium: 5px;
$br_large: 8px;

/* Border Width */

$bw_small: 1px;
$bw_medium: 2px;
$bw_large: 4px;

/* Transitions */

$tr_small: all 0.3s ease;
$tr_medium: all 0.5s ease;
$tr_large: all 1s ease;
