@import './elements';
@import './variables';

* {
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
	font-family: $ubuntu;
}

html,
body {
	overflow-x: hidden;
}

body {
	position: relative;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
