@import '../../sass/base.scss';

.button {
	border: none;
	background-image: linear-gradient(
		to right,
		$plum_purple,
		$deep_purple,
		$midnight_black
	);
	cursor: pointer;
	color: $snow_white;
	text-transform: capitalize;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	max-width: fit-content;
	border-radius: $br_medium;
	transition: $tr_medium;

	&:hover {
		background-image: linear-gradient(
			to left,
			$plum_purple,
			$deep_purple,
			$midnight_black
		);
	}

	@media screen and (max-width: 1080px) {
		width: 100%;
		max-width: none;
	}
}
