@import '../../sass/base.scss';

.influencers {
	position: relative;

	h2 {
		font-size: 2.5rem;
		font-family: $titan_one;
		color: $plum_purple;
		text-transform: capitalize;
		z-index: 2;
		text-align: center;
		margin-bottom: 4rem;
	}

	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}

	@media screen and (max-width: 1080px) {
		.content {
			flex-direction: column;
		}
	}
}
