@import '../../sass/base.scss';

.about {
	position: relative;
	background-image: linear-gradient(
		to right,
		$magenta_rose,
		$coral_pink,
		$rust_red
	);
	padding: 450px 0;
	margin-top: 450px;

	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}

	@media screen and (max-width: 1080px) {
		padding: 0;
		margin-top: 100px;

		.content {
			position: relative;
		}
	}
}
