@import '../../sass/base.scss';

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;

	.logo {
		z-index: 1;
		display: flex;
		align-items: center;
		gap: 0.8rem;

		img {
			height: 50px;
		}

		span {
			color: $flame_orange;
			font-size: 2rem;
			font-family: $titan_one;
		}
	}

	.menu {
		z-index: 1;

		ul {
			display: flex;
			gap: 1rem;
		}
	}

	@media screen and (max-width: 576px) {
		flex-direction: column;
		gap: 3rem;

		.menu {
			width: 100%;

			ul {
				flex-direction: column;
			}
		}
	}
}
